.sidebar {
    direction: rtl;
    transform-origin: center left;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    height: calc(90vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar.active {
    margin-left: -181px;
}

#sidebar {
    background-color: map_get($theme-colors,"primary");
    color: map_get($theme-colors,"secondary");
    min-width: 181px;
}


$btn-size: 45px;
.btn-sidebar{
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  background-color: map_get($theme-colors,"primary");
  height: $btn-size * 2;
  width: $btn-size;
  border-bottom-right-radius: $btn-size * 2;
  border-top-right-radius: $btn-size * 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  padding-left: 10px;
}

.btn-add-playlist {
    margin: 0.25rem;
    background-color: #5fba7d;
    color: #fff;
    border: 0.25rem solid #5fba7d;
    border-radius: 0.25rem;
    max-width: 100%;
    height: 100px;
    width: 100px;
}

.btn-add-playlist:hover {
    background-color: #28a745;
    border: 0.25rem solid #28a745;
}
