$fa-font-path: "../webfonts";

$body-bg: #E4E4E4;

$theme-colors: (
"primary": #F1684E,
"secondary": #1B1B1B,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/toastr/toastr";
@import "authenticate";
@import "register";
@import "sidebar";
@import "search";
@import "playlist-preview";
@import "404";
@import "403";

body {
  overflow: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
}

.navbar {
  background-color: map_get($theme-colors,"secondary");
  padding: 0 0.5rem;

  .nav-link, a.navbar-brand {
    color: map_get($theme-colors,"primary");
  }
}

.content {
  height: calc(90vh);
  width: 100%;
  position: relative;
  z-index: 1000;
  overflow: auto;
}

.dropdown-menu{
  z-index: $zindex-fixed;
}

.mesh-loader {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.mesh-loader .circle {
  width: 25px;
  height: 25px;
  position: absolute;
  background: map_get($theme-colors,"primary");
  border-radius: 50%;
  margin: -12.5px;
  -webkit-animation: mesh 3s ease-in-out infinite;
  animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader > div .circle:last-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.mesh-loader > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mesh-loader > div:last-child {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@-webkit-keyframes mesh {
0% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
50% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
50.00001% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
100% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes mesh {
0% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
50% {
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
50.00001% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
100% {
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
