<div class="card mb-5 mb-lg-0" ng-init="vm.getLogs()">
    <div class="card-header bg-primary text-secondary d-flex justify-content-between">
        <div ng-if="!vm.isPageAdmin()">
            Search logs
        </div>
        <div ng-if="vm.isPageAdmin()">
            Logs
        </div>
        <div class="border-left border-secondary pl-3" ng-if="!vm.isPageAdmin()">
            <a href="" class="text-secondary" ng-click="vm.deleteLogs()" ng-disabled="vm.isLoading">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="card-body">   
        <table class="table">
            <tbody>
                <tr class="btn-outline-primary" ng-if="!vm.isPageAdmin()" ng-repeat="log in vm.logs" ui-sref="search({value: log.message, api: log.api})">                
                    <td class="py-1">{{ log.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td class="py-1">{{ log.message }}</td>
                </tr>
                <tr ng-if="vm.isPageAdmin()" ng-repeat="log in vm.logs">
                    <td class="py-1">{{ log.date | date:'dd-MM-yyyy'}}</td>
                    <td class="py-1">{{ log.username }}</td>
                    <td class="py-1">{{ log.type }}</td>
                    <td class="py-1">{{ log.message }}</td>
                </tr>                         
            </tbody>
        </table>
    </div>
</div>