<div class="card card-reset flex-row my-5">
    <div class="card-img-left d-none d-md-flex">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">Reset my Password</h5>
        <form class="form-signin" ng-submit="vm.reset();">

            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" ng-model="vm.password" placeholder="password"
                    required>
                <label for="inputPassword">New Password</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="inputPasswordCheck" class="form-control" ng-model="vm.passwordCheck"
                    placeholder="password" required>
                <label for="inputPasswordCheck">Confirm Password</label>
            </div>

            <hr>
            <small>{{vm.info}}</small>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-disabled="vm.isLoading">Reset
                password</button>
            <hr class="my-4">
        </form>
    </div>
</div>