<div class="card card-forgot flex-row my-5">
    <div class="card-img-left d-none d-md-flex">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">Forgot my Password</h5>
        <form class="form-signin" ng-submit="vm.forgot();">

            <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" ng-model="vm.mail" placeholder="Email address"
                    required>
                <label for="inputEmail">Email address</label>
            </div>

            <hr>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-disabled="vm.isLoading">Reset
                password</button>
            <hr class="my-4">
        </form>
    </div>
</div>