<div>
  <h1 class="my-4">{{ vm.playlist.name }}
    <small>({{ vm.playlist.videos.length }} vidéos)</small>
  </h1>

  <div ng-repeat="video in vm.playlist.videos">
    <div class="row">
      <div class="col-md-7">
        <a ui-sref="stream({video: video})">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{ video.thumbnails.high }}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>{{ video.title }}</h3>
        <p>{{ video.description }}</p>
        <div class="row d-flex justify-content-between">
          <button class="btn btn-md btn-danger mx-3" type="button" ng-click="vm.removeVideo(video.id)" ng-disabled="vm.isLoading">Remove
            from the playlist</button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>