<div class="card mb-5 mb-lg-0 ">
    <div class="card-header bg-primary text-secondary">
        Playlists
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
              <a href="#">
                <img class="img-fluid rounded mb-md-0" src="http://placehold.it/250x150" alt="">
              </a>
            </div>
            <div class="col-md-5">
              <h5>Project One</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.</p>            
            </div>
          </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
              <a href="#">
                <img class="img-fluid rounded mb-md-0" src="http://placehold.it/250x150" alt="">
              </a>
            </div>
            <div class="col-md-5">
              <h5>Project One</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.</p>            
            </div>
          </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
              <a href="#">
                <img class="img-fluid rounded mb-md-0" src="http://placehold.it/250x150" alt="">
              </a>
            </div>
            <div class="col-md-5">
              <h5>Project One</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.</p>            
            </div>
          </div>
    </div>
</div>