<div class="row">
    <div class="card col-3 mb-4">
    <div class="card-title">Titre</div>
      <img class="card-img-top" src="http://placehold.it/100x40" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card col-3 mb-4">
        <div class="card-title">Titre</div>
        <img class="card-img-top" src="http://placehold.it/100x40" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card col-3 mb-4">
        <div class="card-title">Titre</div>
        <img class="card-img-top" src="http://placehold.it/100x40" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card col-3 mb-4">
        <div class="card-title">Titre</div>
        <img class="card-img-top" src="http://placehold.it/100x40" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card col-3 mb-4">
        <div class="card-title">Titre</div>
        <img class="card-img-top" src="http://placehold.it/100x40" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card col-3 mb-4">
        <div class="card-title">Titre</div>
        <img class="card-img-top" src="http://placehold.it/100x40" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>