<div class="row">
    <div ng-if="vm.isLoading" class="mesh-loader">
        <div class="set-one">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="set-two">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>

    <div ng-if="!vm.isLoading" class="row m-0">
        <div class="col-3 stream-link p-2" ng-repeat="video in vm.videoSet" ui-sref="stream({video: video})">
            <div class="card h-100">
                <div class="card-body p-0">
                    <img class="card-img-top stream-link" src="{{video.thumbnails.medium}}" alt="Card image cap">
                    <h5 class="card-title">{{video.title}}"</h5>
                    <p class="card-text m-3">
                        {{video.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination">

        <li class="page-item" ng-class="{disabled:!vm.prevPage}">
            <a ng-click="vm.page(vm.prevPage)" class="page-link">Previous</a>
        </li>
        <li class="page-item" ng-class="{disabled:!vm.nextPage}">
            <a ng-click="vm.page(vm.nextPage)" class="page-link">Next</a>
        </li>
    </ul>
</div>