<div class="row">
    <div ng-repeat="video in vm.videoSet" class="col-3 mb-4">
        <div class="card stream-link" ui-sref="stream({video: video})">
            <div class="card-body p-0">
                <img class="card-img-top stream-link" ng-src={{video.thumbnail}} alt="Card image cap">
                <div class="card-title">{{video.title}}"</div>
            </div>
            <div class="card-footer">
                <div class="card-text">
                    <p>{{video.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
