<div class="d-flex flex-row h-100">
  <div id="sidebar" class="align-self-center px-2">
    <!-- <div class="sidebar-header">
      <h3>Playlist</h3>
    </div> -->
    <ul class="list-unstyled components h-100 py-4">              
      <li>
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
        </a>
      </li>
      <li>  
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
        </a>
      </li>
      <li>
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>  
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>  
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>  
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>  
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>  
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
      <li>  
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/100x100" alt="">
          </a>
      </li>
    </ul>
  </div>
  <div class="align-self-center" ng-click="$ctrl.toggle();">
    <div class="btn-sidebar">
      <i class="fas fa-chevron-left"></i>
    </div>
  </div>
</div>
