1+1={{1+1}} <br>
<form role="form" ng-submit="rechercher()">
    <div>
        <label for="Rechercher">qsdfqfqdfqf Rechercher : </label><input type="text" ng-model="keyword" name="Rechercher"/>
        <input type="submit" value="Go Youtube!"/>
    </div>
</form>
<form role="form" ng-submit="rechercherVimeo()">
        <div>
            <label for="RechercherVimeo">qsdfqfqdfqf Rechercher : </label><input type="text" ng-model="keywordVimeo" name="RechercherVimeo"/>
            <input type="submit" value="Go Vimeo!"/>
        </div>
    </form>

------- Resultats : {{nbRes ? nbRes : 0}} ------- <br>

<div class="list-group">
    <div ng-repeat="video in videoSet">
        <div ng-click="stream(video)">
            <div style="float:left;">
                <img ng-src={{video.thumbnail}}>
            </div>
            
            <h1><span ng-bind="video.title"></span></span></h1>
            <span ng-bind="video.description"></span>
        </div>
    </div>
</div>